{% extends 'template.html' %}
{% block content %}
<div class="custom-form panel">
	<div class="panel-heading">Ajouter une absence</div>
	<div class="panel-body pb-padding">
		<form action="" enctype="multipart/form-data" method="post" name="form_ger_abs" onsubmit="trait_post(event);">
			{% csrf_token %}
			{{ form_ger_abs.zl_util }}
			<div class="row">
				<div class="col-sm-6">{{ form_ger_abs.zl_type_abs }}</div>
				<div class="col-sm-6">{{ form_ger_abs.zl_annee }}</div>
			</div>
			{{ form_ger_abs.rb_dt_abs_tranche }}
			<div id="za_dt_abs_tranche">
				<div class="row">
					<div class="col-sm-6">{{ form_ger_abs.zd_dt_deb_abs }}</div>
					<div class="col-sm-6">{{ form_ger_abs.zl_indisp_dt_deb_abs }}</div>
				</div>
				<div class="row">
					<div class="col-sm-6">{{ form_ger_abs.zd_dt_fin_abs }}</div>
					<div class="col-sm-6">{{ form_ger_abs.zl_indisp_dt_fin_abs }}</div>
				</div>
			</div>
			<div id="za_dt_abs" style="display: none;">
				<div class="row">
					<div class="col-sm-6">{{ form_ger_abs.zd_dt_abs }}</div>
					<div class="col-sm-6">{{ form_ger_abs.zl_indisp_dt_abs }}</div>
				</div>
			</div>
			{{ form_ger_abs.pj_abs }}
			{{ form_ger_abs.comm_abs }}
			<button class="center-block custom-btn green-btn" type="submit">Valider</button>
		</form>
	</div>
</div>
{% endblock content %}